@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.namegrid{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.imagemedia{
    max-width: 300px;
    max-height: 400px;
}
.container{
    height: 100vh; 
}
@media (max-width: 576px) {
    .imagemedia{
        max-width: 100px;
        max-height: 200px;
    } 
    .namegrid{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }
    .datemedia{
        color: #B0A9A9;
        font-size: 10px;
    }
}
.datemedia{
    color: #B0A9A9;
    font-size: 13px;
}